body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

html {
  height: 100%;
}

.home-page,
.opentrip-page,
.detail-page,
.gallery-page,
.download-page,
.contact-page,
.calendar-page,
.promo-page,
.searchresult-page,
.notfound-page,
.payment-result-page {
  margin-top: 75px;
}

.payment-result-page {
  margin-bottom: 120px;
}

.payment-result-page .row {
  margin-top: 100px;
}

.payment-result-page img {
  width: 320px;
}

.payment-result-page h1 {
  font-size: 32px;
  font-weight: 400;
}

.payment-result-page p {
  font-size: 16px;
}

.opentrip-page {
  min-height: 690px;
}

.reservation-page,
.searchresult-page {
  min-height: 710px;
}

.notfound-page {
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80% 60%;
}

.navbar {
  text-align: center;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  min-height: 75px;
}

.navbar-brand img {
  height: 30px;
}

.navbar-nav {
  margin-top: 20px;
  padding-bottom: 10px;
}

.navActive {
  color: #273c75 !important;
  font-weight: 900;
  font-size: larger;
}

.carousel img {
  height: 880px;
}

.carousel video {
  height: 880px;
  object-fit: cover;
  margin-bottom: 0;
}

.download-page {
  min-height: 400px;
}

.page-banner {
  margin-top: 120px;
  text-align: center;
}

.page-banner img {
  width: 320px;
  height: 200px;
}

.page-banner-title {
  font-size: 36px;
  font-weight: 600;
}

.page-banner-subtitle {
  font-size: 16px;
}

.trip-banner {
  text-align: center;
}

.trip-banner-img-2 {
  width: 180px;
  margin-top: 30px;
}

.trip-banner-title {
  color: #ffc312;
  font-size: 32px;
  font-weight: 600;
}

.trip-banner-subtitle {
  color: #2c3e50;
  font-size: 18px;
}

.searchtrip-section {
  height: 480px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-position-y: -35px;
}

.search-input {
  width: 100%;
  height: 60px;
  padding: 12px 20px 12px 65px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position-y: center;
  background-position-x: 20px;
  font-weight: 500;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.7);
  transition: border 0.2s ease-in-out;
}

.search-input:focus {
  border: #bdc3c7 2px solid;
  outline: none;
}

.menupanel-section {
  margin-bottom: 100px;
  margin-top: -50px;
}

.menu-panel {
  background-color: white;
  box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  padding: 25px;
  margin-top: 20px;
}

.menu-panel img {
  width: 70px;
  height: 70px;
}

.promo-card img {
  height: 120px;
  width: 40px;
}

.promo-img {
  display: none;
}

.promo-info {
  margin-left: 20px;
}

.promo-link {
  margin-top: 20px;
}

.promo-card h1 {
  font-size: 42px;
}

.promo-card h5,
.promo-card h6 {
  font-size: 14px;
}

.card-img-top {
  width: 100%;
  height: 250px;
}

.trip-card,
.gal-section {
  margin-bottom: 80px;
}

.card-body {
  text-transform: capitalize;
}

.reservation-form,
.tripadd-form {
  margin-top: 140px;
}

.filter-section {
  margin-top: 100px;
}

.filter-section img:hover {
  cursor: pointer;
}

.filter-res-cont {
  min-height: 500px;
}

.active-filter {
  transform: scale(1.1);
  opacity: 1;
  -webkit-box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.6);
  box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.6);
}

.inactive-filter {
  opacity: 0.6;
}

.flip-vertical-fwd {
  -webkit-animation: flip-vertical-fwd 0.4s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: flip-vertical-fwd 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.flip-vertical-bck {
  -webkit-animation: flip-vertical-bck 0.4s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: flip-vertical-bck 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@-webkit-keyframes flip-vertical-fwd {
  0% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }

  100% {
    -webkit-transform: translateZ(160px) rotateY(360deg);
    transform: translateZ(160px) rotateY(360deg);
  }
}

@keyframes flip-vertical-fwd {
  0% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }

  100% {
    -webkit-transform: translateZ(160px) rotateY(360deg);
    transform: translateZ(160px) rotateY(360deg);
  }
}

@-webkit-keyframes flip-vertical-bck {
  0% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }

  100% {
    -webkit-transform: translateZ(-260px) rotateY(-360deg);
    transform: translateZ(-260px) rotateY(-360deg);
  }
}

@keyframes flip-vertical-bck {
  0% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }

  100% {
    -webkit-transform: translateZ(-260px) rotateY(-360deg);
    transform: translateZ(-260px) rotateY(-360deg);
  }
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  position: relative;
}

.tab-menu {
  margin-top: 60px;
  min-height: 480px;
}

.tab-inside-content {
  margin: auto;
}

.detail-trip-rsv {
  margin-top: 30px;
}

.detail-trip-price {
  font-size: 30px;
  font-weight: 500;
}

.rsv-btn {
  width: 75%;
}

.feature-info p {
  font-size: 16px;
  font-weight: 400;
}

.tab-link {
  font-weight: 500;
}

.table {
  width: 80%;
}

.othertrip-section {
  margin-top: 90px;
}

.reservation-form {
  text-transform: none;
  min-height: 690px;
}

label {
  text-transform: capitalize;
}

.custom-select {
  text-transform: uppercase;
}

.my-invalid-feedback {
  font-size: 13px;
  color: rgb(204, 87, 60);
}

.checkout-field {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px dashed #7f8c8d;
}

.email-part {
  text-transform: lowercase;
}

.gallery-row {
  margin-top: 90px;
}

/* login admin */

.login-admin-page img {
  width: 320px;
}

.img-col {
  margin-top: 60px;
}

.form-col {
  margin-top: 20px;
}

.login-admin-input {
  width: 100%;
  padding: 8px 50px;
  margin: 4px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #95a5a6;
  font-weight: 400;
  background-repeat: no-repeat;
  background-position-y: center;
}

.login-admin-input:focus {
  outline: none;
  border-bottom: 2px solid #4834d4;
}

/* Sidebar */
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.rotate-90-cw {
  animation: rotate-90-cw 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.rotate-90-ccw {
  animation: rotate-90-ccw 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes rotate-90-cw {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotate-90-ccw {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-90deg);
  }
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

/* DESKTOP */
@media (min-width: 992px) {
  .navbar-brand img {
    height: 40px;
  }

  .banner-image {
    background-position-y: -180px;
  }

  .banner-title h1 {
    font-size: 48px;
    font-weight: 500;
  }

  .banner-title p {
    font-size: 24px;
  }

  .promo-card img {
    height: 120px;
    width: 40px;
  }

  .promo-info {
    margin-left: 20px;
  }

  .promo-link {
    margin-top: 0;
  }

  .promo-card h1 {
    font-size: 36px;
  }

  .promo-card h5,
  .promo-card h6 {
    font-size: 14px;
  }

  .card-price {
    width: 75%;
    margin: auto;
  }

  .card-price h1 {
    font-size: 36px;
  }

  .card-price p {
    font-size: 24px;
  }

  .menupanel-section {
    margin-bottom: 100px;
  }

  .searchtrip-section {
    background-size: 50% 100%;
  }
  .notfound-page {
    height: 900px;
    background-size: 70% 80%;
  }
  .page-banner {
    text-align: right;
  }

  .page-banner img {
    width: 400px;
    height: 320px;
  }

  .page-banner-title {
    font-size: 60px;
    font-weight: 600;
    text-align: left;
  }

  .page-banner-subtitle {
    font-size: 18px;
    text-align: left;
  }

  .trip-banner {
    text-align: center;
  }

  .trip-banner .trip-banner-img {
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  }

  .trip-banner-img-2 {
    width: 200px;
  }

  .trip-banner-title {
    color: #ffc312;
    font-size: 50px;
    font-weight: 600;
  }

  .trip-banner-subtitle {
    color: #2c3e50;
    font-size: 22px;
  }

  .trip-banner-tripinfo {
    margin-left: -120px;
  }

  .tab-menu {
    margin-top: 80px;
    min-height: 480px;
  }

  .tab-inside-content {
    margin: inherit;
  }

  .detail-trip-rsv {
    margin-top: 0;
  }

  .rsv-btn {
    width: 50%;
  }

  /* login admin */
  .login-admin-page img {
    width: 480px;
  }

  .login-admin-page .row {
    height: 100vh;
  }

  .img-col,
  .form-col {
    margin-top: auto;
    margin-bottom: auto;
  }

  .login-admin-input {
    width: 100%;
    padding: 8px 50px;
    margin: 4px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #95a5a6;
    font-weight: 400;
    background-repeat: no-repeat;
    background-position-y: center;
    background-color: rgba(255, 255, 255, 0);
  }

  .login-admin-input:focus {
    outline: none;
    border-bottom: 2px solid #4834d4;
  }

  .payment-result-page {
    margin-bottom: 200px;
  }

  .payment-result-page .row {
    margin-top: 140px;
  }

  .payment-result-page img {
    width: 480px;
    height: 420px;
  }

  .payment-result-page h1 {
    font-size: 38px;
    font-weight: 600;
  }

  .payment-result-page p {
    font-size: 22px;
  }
}

/* XL */
@media (min-width: 1200px) {
  .promo-card img {
    height: 140px;
    width: 60px;
  }
  .promo-img {
    display: block;
  }
  .promo-info {
    margin-left: 0;
  }

  .promo-link {
    margin-top: 0;
  }

  .promo-card h1 {
    font-size: 60px;
  }

  .promo-card h5,
  .promo-card h6 {
    font-size: 16px;
  }
}
